body{
background-color: black;
color:aliceblue;
}

body{text-align: center;
font-family: "Libre Baskerville" serif;}

div{width: 50%;
margin-left: 25%;}

img{width: 100%;
border: solid white;
}

h1{text-transform: uppercase;}


